@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagePluginsCSS{

}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                织布
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-sitemap"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            织机实时状态统计
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row">
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                停机情况图
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="container1" style="height: 300px;"></div>
                </div>
            </div>
            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                停机明细图
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="container2" style="height: 300px;"></div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                效率图
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="container3" style="height: 300px;"></div>
                </div>
            </div>
            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                车速图
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="container4" style="height: 300px;"></div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>

@section pagePluginsScripts{
    <!--echarts插件引入-->
    <script src="~/plug-ins/echarts/echarts.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var dom1 = document.getElementById("container1");
            var myChart1 = echarts.init(dom1, 'light');
            var option1 = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: true },
                        saveAsImage: { show: true }
                    }
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['运转', '停台']
                },
                series: [
                    {
                        name: '状态',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [
                            { value: 335, name: '运转' },
                            { value: 45, name: '停台' }
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ],
                color: ['LightGreen', 'LightSalmon']
            };
            //ajax动态获取数据
            @*$.ajax({
                type: 'post',
                url: "@Url.Content("~/Query/GetLoomPie1")",
                data: {},
                dataType: 'json',
                async:false,
                success: function (result) {
                    if (result) {
                        // 获取json值
                        option.series = result;
                        var data = option.series;
                        var legend;
                        for (var i in data) {
                            option.legend.data.push(data[i].name);
                        }
                        // 为echarts对象加载数据
                        myChart.setOption(option);
                    }
                    else {
                        // 为echarts对象加载数据
                        myChart.setOption(option);
                    }
                },
                error: function (XMLHttpRequest) {
                    alert("Ajax请求失败，错误状态为:" + XMLHttpRequest.status);

                }
            });*@
            if (option1 && typeof option1 === "object") {
                myChart1.setOption(option1, true);
            }
        });
    </script>
}