@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagePluginsCSS{

}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                织布
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-sitemap"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            织机实时状态统计
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row">
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                停机情况图
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="container1" style="height: 300px;"></div>
                </div>
            </div>
            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                停机明细图
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="container2" style="height: 300px;"></div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                效率图
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="container3" style="height: 300px;"></div>
                </div>
            </div>
            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                车速图
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="container4" style="height: 300px;"></div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>

@section pagePluginsScripts{
    <!--echarts插件引入-->
    <script src="~/plug-ins/echarts/echarts.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //container1
            var dom1 = document.getElementById("container1");
            var myChart1 = echarts.init(dom1, 'light');
            var option1 = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: true },
                        saveAsImage: { show: true }
                    },
                    left: 'left',
                },
                legend: {
                    orient: 'vertical',
                    left: 'right',
                    data: []
                },
                series: [
                    {
                        name: '状态',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [],
                        itemStyle: {
                            normal: {
                                label: {
                                    formatter: '{b} : {c} ({d}%)'
                                }
                            },
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ],
                color: ['LightGreen', 'LightSalmon']
            };
            //ajax动态获取数据
            $.ajax({
                type: 'post',
                url: "@Url.Content("~/Loom/GetLoomPie1")",
                data: {},
                dataType: 'json',
                async:false,
                success: function (result) {
                    if (result) {
                        // 获取json值
                        option1.series[0].data = result;
                        for (var i in result) {
                            option1.legend.data.push(result[i].name); 
                        }
                        // 为echarts对象加载数据
                        myChart1.setOption(option1);
                    }
                    else {
                        // 为echarts对象加载数据
                        myChart1.setOption(option1);
                    }
                },
                error: function (XMLHttpRequest) {
                    alert("Ajax请求失败，错误状态为:" + XMLHttpRequest.status);

                }
            }); 
            //container2
            var dom2 = document.getElementById("container2");
            var myChart2 = echarts.init(dom2, 'light');
            var option2 = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: true },
                        saveAsImage: { show: true }
                    },
                    left: 'left',
                },
                legend: {
                    orient: 'vertical',
                    left: 'right',
                    data: []
                },
                series: [
                    {
                        name: '状态',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [],
                        itemStyle: {
                            normal: {
                                label: {
                                    formatter: '{b} : {c} ({d}%)'
                                }
                            },
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ],
                color: ['LightGreen', 'LightSalmon', 'Yellow', 'Red', 'OrangeRed', 'LightSkyBlue', 'LightGray', 'Coral']
            };
            //ajax动态获取数据
            $.ajax({
                type: 'post',
                url: "@Url.Content("~/Loom/GetLoomPie2")",
                data: {},
                dataType: 'json',
                async:false,
                success: function (result) {
                    if (result) {
                        // 获取json值
                        option2.series[0].data = result;
                        for (var i in result) {
                            option2.legend.data.push(result[i].name); 
                        }
                        // 为echarts对象加载数据
                        myChart2.setOption(option2);
                    }
                    else {
                        // 为echarts对象加载数据
                        myChart2.setOption(option2);
                    }
                },
                error: function (XMLHttpRequest) {
                    alert("Ajax请求失败，错误状态为:" + XMLHttpRequest.status);

                }
            }); 
            //container3
            var dom3 = document.getElementById("container3");
            var myChart3 = echarts.init(dom3, 'light');
            var option3 = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: true },
                        saveAsImage: { show: true }
                    },
                    left: 'left',
                },
                legend: {
                    orient: 'vertical',
                    left: 'right',
                    data: []
                },
                series: [
                    {
                        name: '效率',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [],
                        itemStyle: {
                            normal: {
                                label: {
                                    formatter: '{b} : {c} ({d}%)'
                                }
                            },
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ],
                //color: ['LightGreen', 'LightSalmon']
            };
            //ajax动态获取数据
            $.ajax({
                type: 'post',
                url: "@Url.Content("~/Loom/GetLoomPie3")",
                data: {},
                dataType: 'json',
                async:false,
                success: function (result) {
                    if (result) {
                        // 获取json值
                        option3.series[0].data = result;
                        for (var i in result) {
                            option3.legend.data.push(result[i].name); 
                        }
                        // 为echarts对象加载数据
                        myChart3.setOption(option3);
                    }
                    else {
                        // 为echarts对象加载数据
                        myChart3.setOption(option3);
                    }
                },
                error: function (XMLHttpRequest) {
                    alert("Ajax请求失败，错误状态为:" + XMLHttpRequest.status);

                }
            }); 
            //container4
            var dom4 = document.getElementById("container4");
            var myChart4 = echarts.init(dom4, 'light');
            var option4 = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: true },
                        saveAsImage: { show: true }
                    },
                    left: 'left',
                },
                legend: {
                    orient: 'vertical',
                    left: 'right',
                    data: []
                },
                series: [
                    {
                        name: '车速',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [],
                        itemStyle: {
                            normal: {
                                label: {
                                    formatter: '{b} : {c} ({d}%)'
                                }
                            },
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ],
                //color: ['LightGreen', 'LightSalmon']
            };
            //ajax动态获取数据
            $.ajax({
                type: 'post',
                url: "@Url.Content("~/Loom/GetLoomPie4")",
                data: {},
                dataType: 'json',
                async:false,
                success: function (result) {
                    if (result) {
                        // 获取json值
                        option4.series[0].data = result;
                        for (var i in result) {
                            option4.legend.data.push(result[i].name); 
                        }
                        // 为echarts对象加载数据
                        myChart4.setOption(option4);
                    }
                    else {
                        // 为echarts对象加载数据
                        myChart4.setOption(option4);
                    }
                },
                error: function (XMLHttpRequest) {
                    alert("Ajax请求失败，错误状态为:" + XMLHttpRequest.status);

                }
            }); 
        });
    </script>
}